/* General body styling */

h2 {
    color: #007bff;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

li i {
    margin-right: 10px;
    color: rgb(255, 255, 255); 
}

li a {
    text-decoration: none;
    color: #333;
    flex-grow: 1;
}

li:hover a {
    color: #003366; /* Dark blue */
}


/* Content styling */
.content {
    margin-left: 250px;
    padding: 20px;
    width: calc(100% - 250px);
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease-in-out;
}

.content-collapsed {
    margin-left: 0;
    width: 100%;
}

.content-section {
    margin: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 5 2px 5px rgba(0, 0, 0, 0.1);
}


/* Chart container */
.chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.chart-container canvas {
    max-width: 600px;
    margin: 0 auto;
}
/* Table styling */
.table-container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-container th {
    background-color: #004aad;
    color: white;
    font-weight: bold;
}

.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}

/* Footer styling */
footer {
    text-align: center;
    padding: 5px 0;
    background-color: #007bff;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
