

h1 {
    text-align: center;
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 img {
    max-height: 80px;
    margin-right: 15px;
}

h2 {
    color: #007bff;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffffff;
    margin: 10px 20px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

li i {
    margin-right: 10px;
    color: rgb(255, 255, 255); 
}

li a {
    text-decoration: none;
    color: #333;
    flex-grow: 1;
}

li:hover a {
    color: #003366;
}

/* Sidebar styling */
.sidebar {
    width: 250px;
    background-color: #1e90ff;
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    position: fixed;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
    padding-top: 80px;
}

.sidebar-collapsed {
    transform: translateX(-250px);
}

.sidebar h2 {
    text-align: center;
    padding: 20px 0;
    margin: 0;
    font-size: 1;
    background-color: #1e90ff;
    border-bottom: 1px solid #104e8b;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    border-bottom: 1px solid #104e8b;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    background-color: #1e90ff;
    color: #fff;
    display: flex;
    align-items: center;
}

.sidebar ul li i {
    margin-right: 10px;
    font-size: 1em;
    color: white;
    transition: color 0.3s ease;
}

.sidebar ul li:hover {
    background-color: #ffe83a;
    color: #0f3c68;
}

.sidebar ul li:hover i {
    color: #0f3c68;
}

.sidebar ul li a {
    text-decoration: none;
    color: inherit;
    flex-grow: 1;
    transition: color 0.3s ease;
}

.sidebar ul li:hover a {
    color: #0f3c68;
}

/* Content styling */
.content {
    margin-left: 250px; /* Menyesuaikan dengan lebar sidebar */
    margin-top: 53px; /* Memberikan ruang agar tidak tertutup header */
    padding: 20px;
}

h3 {
    color: #004aad;
    border-bottom: 2px solid #004aad;
    padding-bottom: 5px;
}

/* Table styling */
.table-container {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.table-container th {
    background-color: #004aad;
    color: white;
    font-weight: bold;
}

.table-container tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-container tr:hover {
    background-color: #f1f1f1;
}

hr {
    border: none;
    height: 1px;
    background-color: #ddd;
    margin: 20px 0;
}
